.text_box{
display: flex;
align-items: start;
justify-content: center;
height: 50%;
margin-top: 35%;
width: 100%;
flex-direction: column;
padding-left: 5%;
}


.text_box p{
    letter-spacing: 1px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2.5rem;
    text-align: left;
    height: 8%;

  
}
.text_box p:nth-last-of-type(2){
margin-top: 10%;
}
.text_box p:nth-last-of-type(2), .text_box p:nth-last-of-type(1 ){
  font-weight: bold ;
}
